.container {
  align-items: baseline;
  display: flex;
  font-weight: 700;
  gap: 0.75rem;
  height: 30px;
}

.months {
  color: #7297a5;
}

.months-input {
  height: 26px;
  padding: 0.25rem;
  text-align: center;
  width: 30px;
}

.button {
  background-size: 20px;
  border-radius: 5px;
  height: 25px;
  margin-left: auto;
  margin-right: 0.25rem;
  width: 25px;
}

.edit {
  background: url("../../../assets/edit_20px.png") no-repeat;
}

.undo {
  background: url("../../../assets/undo_20px.png") no-repeat;
}
