.container {
  align-items: baseline;
  display: flex;
  font-size: 0.9rem;
  font-weight: 700;
  gap: 0.75rem;
  height: 30px;
}

.months {
  color: #7297a5;
}

.months-input {
  height: 26px;
  padding: 0.25rem;
  text-align: center;
  width: 45px;
}
