@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "./reset";
@import "./colors";
@import "./fonts";

body {
  font-family: "Open Sans", "Segoe UI", Helvetica, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: $huge;
  font-weight: $bold;
  margin: 1.5rem;
  text-align: center;
}

h2 {
  font-size: $big;
  font-weight: $bold;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: $normal;
}

p {
  font-size: $small;
}

.strong {
  font-weight: $bold;
}

input {
  border: 1px solid $thin-border;
  border-radius: 0.25rem;
  line-height: 1.5;
}

input:not([type="checkbox"]):focus {
  border: none;
  box-shadow: 0 0 0 0.25rem $shadow;
}

button {
  border-style: outset;
  border-width: 2px;
}

.card {
  border-radius: 6px;
  box-shadow: 0 0 0 0.25rem $shadow;
  line-height: 2.5;
  margin: 0 1rem 1.5rem;
  padding: 10px 10px 0;
}

.center-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
}
