@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "./reset";

body {
  font-family: "Open Sans", "Segoe UI", Helvetica, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
}

section {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

h2 {
  font-weight: 700;
}

p,
a {
  font-size: 0.9rem;
}

strong {
  font-weight: 700;
}

input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  line-height: 1.5;
}

input:not([type="checkbox"]):focus {
  border: none;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

button {
  border-style: outset;
  border-width: 2px;
}
