@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "./reset";

body {
  font-family: "Open Sans", "Segoe UI", Helvetica, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
}

section {
  margin-bottom: 1.5rem;
}

.card {
  border-radius: 6px;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 7px 10px 10px;
}

.center-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-weight: 700;
  margin-bottom: 0.75rem;
}

h3,
p,
a {
  font-size: 0.9rem;
}

.strong {
  font-weight: 700;
}

input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  line-height: 1.5;
}

input:not([type="checkbox"]):focus {
  border: none;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

button {
  border-style: outset;
  border-width: 2px;
}

.main-button {
  align-self: center;
  background-color: rgb(13 110 253 / 75%);
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 7rem;
}
