.button {
  background-size: 20px;
  height: 25px;
  margin-left: auto;
  margin-right: 0.25rem;
  width: 25px;
}

.edit {
  background: url("../../../assets/edit_20px.png") no-repeat;
}

.undo {
  background: url("../../../assets/undo_20px.png") no-repeat;
}
