@import "../../styles/colors";
@import "../../styles/fonts";

.link-wrapper {
  margin-bottom: 0.5rem;
  text-align: right;
}

.link {
  color: $link;
  font-size: $tiny;
  text-decoration: underline;
}
