.title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.menu li {
  width: 70%;
}

.menu button {
  padding: 0.75rem;
  width: 100%;

  color: white;
  text-align: center;

  background-color: var(--main-color);
}
