@import "../../styles/colors";
@import "../../styles/fonts";

.save-button {
  align-self: center;
  background-color: $main-button;
  color: white;
  font-size: $big;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 7rem;
  margin: auto;
  display: flex;
}

.save-button:disabled {
  background-color: gray;
}

.errors {
  color: red;
}
