.button {
  align-self: center;
  color: white;
  background-color: rgb(13 110 253 / 75%);
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 7rem;
}

.errors {
  color: red;
}
